crontab/
deno/
docker/
gits/
gpg/
GPG-instruc
microk8s/*
nginx/
nodejs/
pico/
ssh/
terraform/
Documentos scan/
PUBLICIDAD/
TERRAFORM/
Virus 3.0/
Virus/
blender/
docs/
flamenco/
fonts/
fotos/
front-end/
fund. doc/
godot/
html/
iconos/
images/
mongodb/
node/
papeles pdf/
rclone/
!/microk8s/deployment625.yaml
!/microk8s/deployment625:v1.yaml
!/microk8s/deployment625:canary-test.yaml
!/microk8s/service625.yaml
!/microk8s/service625:v1.yaml
!/microk8s/service625:canary-test.yaml
